@import './base.css';

html {
  scroll-behavior: smooth;
}

main {
  max-width: 1400px;
}


#app {
  font-family: "Roboto Mono", monospace;
  max-width: 1400px;
  margin: 0 auto;
  font-weight: normal;
}

